## 연관성 분석 측정지표
상품 추천, 즉 고객이 함께 많이 구매할 것 같은 상품을 예측하는 데에 가장 많이 활용되는 척도로는 지지도(Support), 신뢰도(Confidence),  향상도(Lift)라는 것이 있다.
- 지지도 : 사과와 우유를 얼마나 함께 구매하는지를 나타내는 지표라고 볼 수 있습니다. 지지도는 좋은 규칙(구성비가 높고 빈도가 많은)을 찾거나 불필요한 연산을 줄이기 위한 기준으로 사용된다. A와 B를 모두 포함하는 거래의 수 / A를 포함하는 거래의 수
- 신뢰도 : 사과를 많이 구매한 사람 중 얼마나 많은 사람이 우유도 함께 구매했을까요? 확률을 구해보니 사과를 구매한 사람은 3명이고, 그 중 2명이 우유을 구매했네요. 그럼 여기서 구할 수 있는 신뢰도는 66.7% 이다. 지지도와 달리 confidence(A→B)의 값과 confidence(B→A)의 값이 다르고 값이 1에 가까울수록 연관성이 높다.
- 향상도 : 지지도가 별로 팔리지 않는 상품을 솎아내기 위한 지표였다면 거꾸로 많이 팔리는 인기상품을 골라낼 때 활용되는 것이 향상도입니다. A를 구매하지 않았을 때 품목 B를 구매할 확률 대비 A를 구매했을 때 품목 B의 구매 확률의 증가 비율을 의미한다.(A와 B를 모두 포함하는 거랫의 수 * 전체 거래의수) / (A를 포함하는 거래의 수 * B를 포함하는 거래의 수) 향상도가 1이면 두 품목은 독립이고 1보다 작다면 음의 상관관계로 A를 구매하면 B를 구매하지 않을 확률이 구매할 확률보다 큼을 의미한다. 향상도가 1보다 크면 두 품목은 양의 상관관계로 임의로 B를 구매할 확률보다 A를 구매한 후 B를 구매할 확률이 큼을 의미한다.

In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\admin\anaconda3\envs\caba\lib\site-packages (0.18.0)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (51.0.0.post20201207)
Requirement already satisfied: joblib>=0.13.2 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (1.0.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scipy>=1.2.1 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.12.5)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\caba\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
dataset=[['사과','치즈','생수'],
['생수','호두','치즈','고등어'],
['수박','사과','생수'],
['생수','호두','치즈','옥수수']]

In [4]:
te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [8]:
# 지지도 0.5
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (사과, 생수)
5     0.75      (치즈, 생수)
6     0.50      (호두, 생수)
7     0.50      (호두, 치즈)
8     0.50  (호두, 치즈, 생수)

In [9]:
# 신뢰도 0.3
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
1,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
2,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
3,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
4,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
5,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
6,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
7,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
8,"(호두, 치즈)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
9,"(호두, 생수)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
10,"(치즈, 생수)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
11,(호두),"(치즈, 생수)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
12,(치즈),"(호두, 생수)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
13,(생수),"(호두, 치즈)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0

In [ ]:
# 연관성이 높은 품목
(호두), (치즈)
(호두, 생수), (치즈)
(호두), (치즈, 생수)

Q. 아래 dataset으로 연관성 분석을 수행하세요

In [10]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
           ['Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset) # 트랜잭션 데이터로 변환
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Eggs  Ice cream   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False   True      False   True    True   True    False    True
1  False  False   True      False  False    True   True    False    True
2   True  False   True      False   True   False  False    False   False
3  False   True  False      False   True   False  False     True    True
4  False   True   True       True  False   False   True    False   False

In [13]:
# Apriori 알고리즘을 활용하여 지지도가 0.5 이상인 것들을 알아낼 수있습니다.
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support       itemsets
0      0.8         (Eggs)
1      0.6         (Milk)
2      0.6        (Onion)
3      0.6       (Yogurt)
4      0.6  (Onion, Eggs)

In [17]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf

[과제]  
6개의 연관규칙을 구하세요

In [ ]:
dataset = [['아메리카노', '카페라떼'],
           ['카페라떼', '아메리카노', '카푸치노'],
           ['바닐라라떼', '아메리카노'],
           ['아메리카노', '카페라떼'],
           ['카페라떼', '아메리카노', '카푸치노'],
           ['바닐라라떼', '아메리카노'],
           ['녹차라떼', '카페라떼', '아메리카노'],
           ['카페모카', '아메리카노'],
           ['아메리카노', '카페라떼'],
           ['초콜릿', '아메리카노'],
           ['아메리카노'],
           ['카페모카', '카페라떼']
]